<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="OutputHelper" class="com.mkyong.output.OutputHelper">
        <property name="generator" ref="JsonOutputGenerator"/>
    </bean>

    <bean id="CsvOutputGenerator" class="com.mkyong.output.impl.CsvGenerator"/>
    <bean id="JsonOutputGenerator" class="com.mkyong.output.impl.JsonGenerator"/>

</beans>